<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QutZone - 青理最酷的社区</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--index 样式-->
    <link rel="stylesheet" href="css/index.css">
<!--     Vue-->
    <script src="/js/vue.js"></script>
</head>

<body>
<!--导入navi-->
<div th:replace="~{navi :: navi}"></div>
<!--主容器-->
<div class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
<!--                分区导航栏-->
                <div class="card" style="padding-bottom: 10px">
                    <a>
                    <span>
                           <button type="button" class="btn btn-outline-primary active  mr-auto mt-3 ml-3">全部</button>
                    </span>
                    <span>
                           <button type="button" class="btn btn-outline-primary  mr-auto mt-3 ml-2">闲聊</button>
                    </span>
                    <span>
                           <button type="button" class="btn btn-outline-primary  mr-auto mt-3 ml-2">失物招领</button>
                    </span>
                    <span>
                           <button type="button" class="btn btn-outline-primary  mr-auto mt-3 ml-2">消息发布</button>
                    </span>
                    </a>
                    <hr style="margin-bottom: 10px"/>
<!--                    帖子显示区-->

                    <div class="media">
                        <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                        <div class="media-body media_body">
                            <h5 class="mt-0"><a class="post_title" th:href="@{/t}">QutZone是最好的社区！</a></h5>
                            <span class="mr-2 p-1 category">#闲聊</span>发布于 2020-7-3
                        </div>
                        <span class="badge badge-primary ml-auto mr-3 my-auto px-2">9</span>
                    </div>
                    <hr class="divider"/>

                    <div class="media">
                        <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                        <div class="media-body media_body">
                            <h5 class="mt-0"><a class="post_title" th:href="@{/t}">QutZone是最好的社区！</a></h5>
                            <span class="mr-2 p-1 category">#闲聊</span>发布于 2020-7-3
                        </div>
                        <span class="badge badge-primary ml-auto mr-3 my-auto px-2">9</span>
                    </div>
                    <hr class="divider"/>

                    <div class="media">
                        <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                        <div class="media-body media_body">
                            <h5 class="mt-0"><a class="post_title" th:href="@{/t}">QutZone是最好的社区！</a></h5>
                            <span class="mr-2 p-1 category">#闲聊</span>发布于 2020-7-3
                        </div>
                        <span class="badge badge-primary ml-auto mr-3 my-auto px-2">9</span>
                    </div>
                    <hr class="divider"/>

                    <div class="media">
                        <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                        <div class="media-body media_body">
                            <h5 class="mt-0"><a class="post_title" th:href="@{/t}">QutZone是最好的社区！</a></h5>
                            <span class="mr-2 p-1 category">#闲聊</span>发布于 2020-7-3
                        </div>
                        <span class="badge badge-primary ml-auto mr-3 my-auto px-2">9</span>
                    </div>
                    <hr class="divider"/>

                    <div class="media">
                        <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                        <div class="media-body media_body">
                            <h5 class="mt-0"><a class="post_title" th:href="@{/t}">QutZone是最好的社区！</a></h5>
                            <span class="mr-2 p-1 category">#闲聊</span>发布于 2020-7-3
                        </div>
                        <span class="badge badge-primary ml-auto mr-3 my-auto px-2">9</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
<!--                个人资料卡 未登录：slogan+登录提示 已登录：个人资料卡+发帖按钮-->
                <div class="card m-auto">
                    <div class="card-body">
                        <div th:if="${session.user == null}">
                            <h5 class="card-title">QutZone = Campus + Geek</h5>
                            <small class="text-muted">QutZone是一个关于青春和梦想的地方。</small>
                            <hr/>
                            <a th:href="@{/register}" class="btn btn-primary mb-2" style="margin: 0px auto;display: table;">现在注册</a>
                            <p class="card-title m-auto" style="margin: 0;display: table; color: #6c757d; size: 0.5rem;" >已有账号？请<a th:href="@{/login}">登录</a> </p>
                        </div>
                        <div th:if="${session.user} != null">
                            <div class="media">
                                <img th:src="${session.user.getHeadpic()}" style="height: 72px;width: 72px; margin-left: 0px;" >
                                <h4 class="my-auto ml-2" th:text="${session.user.getName()}"></h4>
                                <a th:href="@{/index}" class="my-auto ml-auto">
                                    <h6 class="post_title pt-1">未读消息</h6>
                                </a>
                                <span class="badge badge-secondary my-auto mx-1">4</span>
                            </div>
                            <hr/>
                            <form action="/post" method="get">
                            <button class="btn btn-primary btn-lg btn-block" >发帖</button>
                            </form>
                        </div>
                    </div>
                </div>
<!--                搜索框-->
                    <form class="form-inline mt-2">
                        <input class="form-control" type="text" style="width:85%" placeholder="搜索关键字" aria-label="Search">
                        <button class="btn btn-outline-primary ml-auto  my-2 my-sm-0" type="submit"><i class="fa fa-search" style="color:#007bff"></i></button>
                    </form>
            </div>
            <div class="col-md-8 mt-3">
                <!--                分页符-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!---->
<div th:replace="~{navib :: navib}"></div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>