<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QutZone - 青理最酷的社区</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--index 样式-->
    <link rel="stylesheet" href="css/index.css">
<!--     Vue-->
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<!--导入navi-->
<div th:replace="~{navi :: navi}"></div>
<!--主容器-->
<div class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
<!--                分区导航栏-->
                <div id="postlist">
                    <div class="card" style="padding-bottom: 10px;padding-top: 10px;">
                        <a>
                        <span>
                               <button type="button" @click="changePart(-1)" class="btn btn-outline-primary mr-auto ml-3" :class="curPart == -1? 'active' : ''">全部</button>
                        </span>
                            <span>
                               <button type="button" @click="changePart(0)" class="btn btn-outline-primary  mr-auto ml-2" :class="curPart == 0? 'active' : ''">闲聊</button>
                        </span>
                            <span>
                               <button type="button" @click="changePart(1)" class="btn btn-outline-primary  mr-auto ml-2" :class="curPart == 1? 'active' : ''">失物招领</button>
                        </span>
                            <span>
                               <button type="button" @click="changePart(2)" class="btn btn-outline-primary  mr-auto ml-2" :class="curPart == 2? 'active' : ''">消息发布</button>
                        </span>
                        </a>
<!--                    帖子显示区-->
                        <template v-for="(list,i) of lists">
                            <hr class="divider"/>
                            <div class="media">
                                <img src="img/ava.png" class="mr-3 ml-3 avatar" alt="avatar">
                                <div class="media-body media_body">
                                    <h5 class="mt-0">
                                        <a class="post_title" v-bind:href="(url) + list.id">{{list.title}}</a>
                                    </h5>
                                    <span class="mr-2 p-1 category">#{{showPart(list.tag)}}</span>发布于 {{(list.createTime)}}
                                </div>
                                <span class="badge badge-primary ml-auto mr-3 my-auto px-2">{{list.comment_count}}</span>
                            </div>
                        </template>

                    </div>
<!--                    -->
<!--分页符-->
                    <nav aria-label="Page navigation example" class="my-3">
                        <ul class="pagination">
                            <li class="page-item" @click="curPage(page.pageNo-1)">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                                <template v-for="index in page.pageTotal">
                                    <li class="page-item" @click="curPage(index)"><a class="page-link" href="#">{{index}}</a></li>
                                </template>
                            <li class="page-item" @click="curPage(page.pageNo+1)">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-md-4">
                <div class="sticky-top">
                    <!--                个人资料卡 未登录：slogan+登录提示 已登录：个人资料卡+发帖按钮-->
                    <div th:replace="~{personal_panel :: personal_panel}"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!---->
<div th:replace="~{navib :: navib}"></div>

<script>
    new Vue({
        el: "#postlist",
        data: {
            lists:[],
            page:{
                pageTotal:1,
                pageNo:1,
                pageSize:10,
            },
            url: '/t/',
            curPart: -1,
        },
        methods:{
            getLists:function (index) {
                this.page.pageNo = index || this.page.pageNo;
                console.log(this.page.pageNo);
                axios({
                    method:'get',
                    url:"/getPost/" + this.curPart + '/' + this.page.pageNo
                }).then(res=>{
                    console.log(res);
                    this.lists = res.data.list;
                    this.page.pageTotal = res.data.pageTotal;
                }).catch(function (error) {

                })
            },
            curPage:function (index) {
                this.getLists(index);
            },
            changePart:function(part){
                this.curPart = part;
                this.getLists();
            },
            showPart:function(part){
                if(part == 0){
                    return "闲聊"
                }else if (part == 1){
                    return "失物招领"
                }else if (part == 2){
                    return "消息发布"
                }
            },
            postJump(id){
                axios({
                    method: 'get',
                    url: "/t" + id
                })
            },
        },
            mounted:function () {
                this.getLists();
        },
            inCurPart:function(part){
            this.curPart = part;
        },
    })
</script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>