<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>导航条</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css" />
</head>

<body>

<div th:fragment="navi">
    <div class="card">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
<!--                logo-->
                <a th:href="@{/index}">
                    <img src="img/blue.png"  height="64dp" width="160dp" alt="main_logo">
                </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/register}">注册 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">登录 <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                    </div>
            </div>
        </nav>
    </div>

</div>

</body>
</html>