<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的提醒</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
    <script src="js/post.js"></script>
</head>
<body>
<!--导入导航栏-->
<div th:replace="~{navi :: navi}"></div>
<div class="my-3">
    <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card pb-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                                <li class="breadcrumb-item active" aria-current="page">消息提醒</li>
                            </ol>
                        </nav>
                        <div class="mx-3">
                            <h6 class="post_title">
                                <span>孔松琦</span>
                                回复了你的帖子
                                <span>
                                    <a th:href="@{/t}">QutZone是最好的社区！</a>
                                </span>
                            </h6>
                            <hr class="divider"/>
                            <h6 class="post_title">
                                <span>孔松琦</span>
                                回复了你的帖子
                                <span>
                                    <a th:href="@{/t}">QutZone是最好的社区！</a>
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sticky-top">
                        <!--                个人资料卡 未登录：slogan+登录提示 已登录：个人资料卡+发帖按钮-->
                        <div th:replace="~{personal_panel :: personal_panel}"></div>
                    </div>
                </div>
            </div>
    </div>
</div>


<div class="fixed-bottom">
    <div th:replace="~{navib :: navib}"></div>
</div>
</body>
</html>