<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<!--导入导航栏-->
<div th:replace="~{navi :: navi}"></div>
<!--包含登录框和其他登录方式的容器-->
<div class="container my-3">
    <div class="row">
        <div class="col-md-8">
            <!--登录框card-->
            <div class="card">
                <!--面包屑导航，偷懒用静态-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">注册</li>
                    </ol>
                </nav>
                <form class="mx-3 mb-3" action="/registerCheck" method="post">
                    <!--用户名from-->
                     <label for="username">用户名</label>
                     <input type="text" class="form-control mb-3" id="username" name="username" aria-describedby="usernameHelp" placeholder="请输入用户名">
                    <!--密码from-->
                     <label for="firstPassword">密码</label>
                     <input type="password" class="form-control mb-3" id="firstPassword" name="firstPassword">
                    <!--重复密码-->
                     <label for="secondPassword">重复密码</label>
                     <input type="password" class="form-control mb-3" id="secondPassword" name="secondPassword">
                    <p style="color:red; margin-left: 15px;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                    <button type="submit" class="btn btn-outline-primary mt-1 mb-2">注册</button>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <!--其他登录方式card-->
            <div class="card" style="width: 21rem;">
                <div class="card-body">
                    <h5 class="card-title">其他登录方式</h5>
                    <hr/>
                    <img src="img/QQlogin.png" height="48" width="192" class="rounded mx-auto d-block" alt="qq_register">
                    <img src="img/weibologin.png" height="48" width="192" class="rounded mx-auto d-block mt-2" alt="weibo_register">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <div th:replace="~{navib :: navib}"></div>
</div>
</body>
</html>