<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${question.getTitle()}"></title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--index 样式-->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<!--导入navi-->
<div th:replace="~{navi :: navi}"></div>
<!--主容器-->
<div class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
<!--                分区导航栏-->
                <div class="card pb-0">
<!--                    面包屑导航-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-3">
                            <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">闲聊</li>
                        </ol>
                    </nav>
<!--                        标题栏-->
                    <div class="media px-3">
                        <div class="media-body media_body">
                            <h5 class="t_title"  th:text="${question.getTitle()}"></h5>
                            发布于 <span th:text="${question.getCreateTime()}"></span>
                            一共有<span class="ml-2" th:text="${question.getComment_count()}"></span> 个回复
                        </div>
                        <img src="/img/ava.png" class="mr-auto ml-3" style="height: 64px;width: 64px;" alt="avatar-big">
                    </div>
                    <hr class="divider"/>
                    <div class="post_body">
                        <p th:text="${question.getDescription()}"></p>
                    </div>
                    <hr style="margin-bottom: 0px;"/>
                    <nav aria-label="bottom_view" style="background-color: #e9ecef;">
                        <div class="d-flex justify-content-between">
                            <div th:if="${question.getCreateId()}">
                                <p class="text-left" style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px;color: #6c757d;" th:href="@{/delete}">删除</p>
                            </div>
                            <p class="text-right" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;color: #6c757d;">浏览量：<span th:text="${question.getView_count()}"></span></p>
                        </div>
                    </nav>
                </div>
<!--                回复card-->
                <div class="card my-3 pb-3">
                    <h6 class="media_body mx-3 mt-3 mb-2">回复</h6>
<!--                    回复展示区-->
                    <div class="media">

                        <div class="media-body comment_body">
                            <!--<p style="font-size: 15px; margin-top: 5px;margin-bottom: 5px">这里显示回复人ID</p> -->

                            <tr th:each="c:${commentList}" style="font-size: 15px; margin-top: 5px;margin-bottom: 5px">
                                <hr class="divider"/>
                                <div class="media">
                                    <img src="/img/ava.png" class="ml-3 mr-3" style="height: 54px;width: 54px;" alt="avatar-big">
                                    <div class="media-body">
                                        <!-- 通过得到当前c的索引，根据索引从user里面取值-->
                                        <h6 th:text="${userList.get(commentList.indexOf(c)).getName()}" class="mt-1" style="color: #838383;font-weight:bold;"></h6>
<!--                                        <br>-->
                                        <span class="post_title" th:text="${c.getContent()}"></span>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </div>
                </div>
<!--                回复框-->
                <form action="/tCheck" method="post">
                    <div class="card mt-2 mb-5">
                        <h6 class="media_body mx-3 mt-3 mb-2">添加一条新的回复</h6>
                        <hr style="margin-top: 10px;margin-bottom: 0px;"/>
                        <!--                帖子内容输入-->
                        <div class="form-group mb-2 mx-2">
                            <textarea name="tText" class="form-control mt-2" id="exampleFormControlTextarea1" rows="8"></textarea>
                        </div>
    <!--                    回复按钮-->
                        <button type="submit" class="btn btn-primary mx-2 mb-2">回复</button>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <div class="sticky-top">
                    <!--                个人资料卡 未登录：slogan+登录提示 已登录：个人资料卡+发帖按钮-->
                    <div th:replace="~{personal_panel :: personal_panel}"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!---->
<div th:replace="~{navib :: navib}"></div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>